body {margin: 30px; font-family: 'Abel', sans-serif;}
header {background-color: lightcyan;
text-align: center;}
header h1 {color:teal;font-family: 'Sacramento', cursive;;font-size: 100px;}
header img{width: 720px;}

main {
    max-width: 800px; text-align: center;
}
main img {max-width: 800px; min-width 700px;;}